Assignment 2 - Brief26.md
Assignment 2 - Brief26.pdf
Game__0 - White vs. Black.pgn
Game__1 - White vs. Black.pgn
Game__2 - White vs. Black.pgn
Game__3 - White vs. Black.pgn
Game__4 - White vs. Black.pgn
Game__5 - White vs. Black.pgn
Game__6 - White vs. Black.pgn
Game__7 - White vs. Black.pgn
Game__8 - White vs. Black.pgn
Game__9 - White vs. Black.pgn
Game__10 - White vs. Black.pgn
move_ranking_example1.png
move_ranking_example2.png
ZEIT4150 Assignment 2 - Brendon Bone
ChessEnv/Chess-Notebook.ipynb
ChessEnv/.ipynb_checkpoints/Chess-Notebook-checkpoint.ipynb
ChessEnv/ZEIT4150/__init__.py
ChessEnv/ZEIT4150/.ipynb_checkpoints/__init__-checkpoint.py
ChessEnv/ZEIT4150/__pycache__/__init__.cpython-39.pyc
ChessEnv/ZEIT4150/__pycache__/__init__.cpython-310.pyc
ChessEnv/ZEIT4150/__pycache__/__init__.cpython-311.pyc
ChessEnv/ZEIT4150/__pycache__/__init__.cpython-312.pyc
ChessEnv/ZEIT4150/chess/__init__.py
ChessEnv/ZEIT4150/chess/agent.py
ChessEnv/ZEIT4150/chess/game.py
ChessEnv/ZEIT4150/chess/.ipynb_checkpoints/__init__-checkpoint.py
ChessEnv/ZEIT4150/chess/.ipynb_checkpoints/agent-checkpoint.py
ChessEnv/ZEIT4150/chess/.ipynb_checkpoints/game-checkpoint.py
ChessEnv/ZEIT4150/chess/__pycache__/__init__.cpython-39.pyc
ChessEnv/ZEIT4150/chess/__pycache__/__init__.cpython-310.pyc
ChessEnv/ZEIT4150/chess/__pycache__/__init__.cpython-311.pyc
ChessEnv/ZEIT4150/chess/__pycache__/__init__.cpython-312.pyc
ChessEnv/ZEIT4150/chess/__pycache__/agent.cpython-39.pyc
ChessEnv/ZEIT4150/chess/__pycache__/agent.cpython-310.pyc
ChessEnv/ZEIT4150/chess/__pycache__/agent.cpython-311.pyc
ChessEnv/ZEIT4150/chess/__pycache__/agent.cpython-312.pyc
ChessEnv/ZEIT4150/chess/__pycache__/game.cpython-39.pyc
ChessEnv/ZEIT4150/chess/__pycache__/game.cpython-310.pyc
ChessEnv/ZEIT4150/chess/__pycache__/game.cpython-311.pyc
ChessEnv/ZEIT4150/chess/__pycache__/game.cpython-312.pyc
